.movie-details {
 display: flex;
 flex-direction: row;
}

.movie-details .poster {
 min-width: 30%;
 max-width: 30%;
 margin-right: 50px;
}

.movie-details .poster img {
 display: block;
 max-width: 100%;
 object-fit: cover;
}

.movie-details .title {
 font-size: 34px;
 font-weight: 300;
 text-transform: uppercase;
 letter-spacing: 1px;
 margin-right: 25px;
}

.movie-details .rating {
 border: 1px solid #fff;
 border-radius: 99px;
 font-size: 20px;
 font-weight: 300;
 padding: 12px;
 vertical-align: text-top;
}

.movie-details .genres {
 font-size: 14px;
 opacity: 0.5;
}

.movie-details .info {
 color: #F65261;
 font-size: 22px;
 font-weight: 300;
 margin: 20px 0;
}

.movie-details .info-item {
 margin-right: 25px;
}

.movie-details .description {
 font-size: 15px;
 opacity: 0.5;
}