.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 440px;
}

.search-container h2 {
  text-transform: uppercase;
  font-size: var(--xl-text);
  font-weight: 100;
  margin-bottom: 20px;
}

.search-container .SearchForm {
  width: 80%;
}