.GenreSelect {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
  }
  
  .GenreSelect .btn.tab {
    background-color: transparent;
    color: var(--main-color);
    border-radius: 0;
    margin: 0 10px;
    padding: 10px 0;
  }
  
  .GenreSelect li:hover {
    background-color: rgba(3, 155, 229, 0.05);
  }
  
  .GenreSelect .selected {
    border-bottom: 3px solid var(--main-color);
  }