.GenreSelect {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.GenreSelect li {
  margin-right: 20px;
}

.GenreSelect .tab {
  display: inline-block;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 15px 0;
  margin: 0;
  font-size: var(--small-text);
}

.GenreSelect li:hover {
  background-color: rgba(3, 155, 229, 0.05);
}

.GenreSelect .selected {
  border-bottom: 3px solid var(--secondary-color);
}