.details-container {
  height: 440px;
}

.details-container .search {
  position: absolute;
  top: 30px;
  right: 30px;
  background-image: url('/src/assets/Search\ Button.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 28px;
  height: 28px;
}

.details-container .search:hover {
  background-color: rgba(3, 155, 229, 0.05);
}