.container {
  background-color: #232323;
  padding: 40px;
  width: 880px;
  margin-bottom: 10px;
  position: relative;
}

main.container {
  padding-top: 10px;
}

.filters {
  display: flex;
  justify-content: space-between;

}

hr {
  margin: -3px;
  border: none;
  border-bottom: 2px solid var(--border-color);
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.movie-list .movie-tile {
  margin-bottom: 25px;
}