.movie-tile {
    width: 240px;
    position: relative;
}

.movie-tile:hover {
    cursor: pointer;
}

.movie-tile img {
    display: block;
    max-width: 100%;
    max-height: 450px;
    object-fit: cover;
}

.movie-tile .details {
    padding: 15px 0;
}

.movie-tile .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.movie-tile h3 {
    margin: 0;
    font-size: 18px;
}

.movie-tile .release-year {
    padding: 3px 5px;
    border: 1px solid #979797;
    border-radius: 4px;
    font-size: 14px;
}

.movie-tile p {
    font-size: 14px;
    opacity: 0.5;
}

.movie-tile .context-menu {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #2a202d;
}

.movie-tile .context-menu:after {
    content: '\22ee';
    font-size: 27px;
    left: 9px;
    top: -2px;
    position: absolute;
}

.movie-tile .context-menu .menu {
    display: none;
}

.movie-tile .context-menu.opened .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 150px;
    right: 0;
    z-index: 1;
    background: rgba(35, 35, 35, 0.92);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.10);
    border-radius: 4px;
    backdrop-filter: blur(27.18px);
    padding-bottom: 5px;
}

.context-menu .menu .close {
    text-align: end;
    padding-right: 5px;
}

.context-menu .menu .option {
    font-size: 14px;
    font-weight: 400;
    padding: 5px 23px;
}

.context-menu .menu .option:hover {
    background-color: #f65261;
}