@import url('https://fonts.googleapis.com/css2?family=Montserrat');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2,
h3,
p,
figure {
  margin: 0;
}

select,
input,
textarea {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

:root {
  --main-color: rgb(3, 155, 229);
  --text-color: #fff;
  --secondary-color: #f65261;
  --background-color: #232323;
  --input-color: #323232;
  --border-color: #424242;

  --small-text: 12px;
  --medium-text: 15px;
  --large-text: 20px;
  --xl-text: 34px;
}

button {
  background: transparent;
  border: 1px solid;
  border-radius: 4px;

  padding: 10px 30px;
  margin-left: 10px;

  color: var(--text-color);
  cursor: pointer;

  font-family: Montserrat;
  font-size: var(--medium-text);
  text-transform: uppercase;
}

button.primary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

button.secondary {
  background-color: var(--background-color);
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

button.icon {
  border: none;
  padding: 0px;
}

input {
  background-color: var(--input-color);
  border: none;
  caret-color: var(--secondary-color);
  color: var(--text-color);
  font-size: var(--medium-text);
  height: 40px;
  letter-spacing: 0.15px;
  padding: 0 15px;
}

select {
  background-color: var(--input-color);
  font-size: var(--medium-text);
  height: 40px;
  letter-spacing: 0.15px;
  padding: 0 15px;
}

textarea {
  width: 100%;
  background-color: var(--input-color);
  border: none;
  caret-color: var(--secondary-color);
  color: var(--text-color);
  font-family: Montserrat;
  font-size: var(--medium-text);
  letter-spacing: 0.15px;
  padding: 15px;
}