@import url('https://fonts.googleapis.com/css2?family=Montserrat');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2,
h3,
p,
figure {
  margin: 0;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

:root {
  --main-color: rgb(3, 155, 229);
  --text-color: #fff;
  --secondary-color: #f65261;

  --small-text: 14px;
  --medium-text: 15px;
  --large-text: 20px;
  --xl-text: 34px;
}

.btn {
  padding: 10px;
  margin: 0 10px;
  background-color: var(--main-color);
  border: none;
  border-radius: 4px;
  min-width: 30px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
}

input {
  border-color: rgba(0, 0, 0, 0.87);
  border-width: 0.5px;
  caret-color: var(--main-color);
  color: rgba(0, 0, 0, 0.87);
  font-size: 15px;
  height: 34px;
  letter-spacing: 0.15px;
  outline-color: var(--main-color);
  padding: 0 16px;
  border-radius: 4px;
}

.counter {
  color: #000;
}