.sort-control {
  font-size: var(--small-text);
  font-weight: 400;
  letter-spacing: 0.89px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sort-control label {
  opacity: 0.6;
  text-transform: uppercase;
  margin-right: 20px;
}

.sort-control .custom-select {
  width: 150px;
}

.sort-control .custom-select select {
  background-color: transparent;
  font-size: var(--small-text);
  height: auto;
}